# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.so

# PyInstaller
build/
dist/
*.spec

# Downloads
repos/
Downloads_Videos/
testes/

# Temporary files
*_temp.mp4
*_video_temp.mp4
*_audio_temp.mp4

# FFmpeg (já está no repo, mas ignorar se for gerado)
ffmpeg_bin/*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Icon backup
icon.ico.bak
